@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --gray-color: #5e5e5e;
  --soft-gray-color: #9b9b9b;
  --smoke-color: #f6f6f6;
  --white-color: #ffffff;
  --active-bg: #f2f2f2;
  --soft-black-color: #3b3b3b;
  --black-color: #000000;
  --green-color: #03a66d;
  --red-color: #b7291e;
  --border-color: #e9e9e9;
  --drop-color: #d94444;
  --progress-color: #707070;
}

body {
  background: var(--smoke-color);
  font-family: "Inter", sans-serif;
}

/* ===== GRAPHIC ===== */
.graphic-section {
  margin: 5px 0;
  border-radius: 5px;
}

.graphic-section .graphic-fluid {
  margin: 0;
}

.graphic-section .graphic-fluid .data-directive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 0 10px;
}

.graphic-section .graphic-fluid .data-directive .variety {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.graphic-section .graphic-fluid .data-directive .variety .times {
  font-size: 12px;
  color: var(--gray-color);
  margin-left: auto;
}

.graphic-section .graphic-fluid .data-directive .variety .times .var-trading {
  cursor: pointer;
  font-size: 14px;
}

.graphic-section .graphic-fluid .data-directive .variety .times .trading-icon {
  cursor: pointer;
  font-size: 14px;
}

.graphic-section .graphic-fluid .data-directive .variety .times span {
  margin-right: 16px;
}

.graphic-section .graphic-fluid .data-directive .variety .times span:last-child {
  margin-right: 0;
}

.graphic-section .graphic-fluid .data-directive .variety .times span.active {
  padding: 7px 8px;
  border-radius: 2px;
  background: var(--active-bg);
}

.graphic-section .left-bar .graphic-table {
  display: block;
  background: #ffffff;
  padding: 20px 0 0 0;
  margin: 0;
}

.graphic-section .left-bar .graphic-table .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.graphic-section .left-bar .graphic-table .data .times {
  font-size: 12px;
  color: var(--gray-color);
  margin-left: auto;
}

.graphic-section .left-bar .graphic-table .data .times .time-value {
  cursor: pointer;
  font-size: 14px;
}

.graphic-section .left-bar .graphic-table .data .times span {
  margin-right: 16px;
}

.graphic-section .left-bar .graphic-table .data .times span:last-child {
  margin-right: 0;
}

.graphic-section .left-bar .graphic-table .data .times span.active {
  padding: 7px 8px;
  border-radius: 2px;
  background: var(--active-bg);
}

.graphic-section .left-bar .graphic-table .graphic-screen img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.graphic-section .left-bar .analytic-data {
  margin: 0;
  padding: 0;
}

.graphic-section .left-bar .analytic-data .data-analysis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  margin: 32px 0;
  padding: 32px;
}

.graphic-section .left-bar .analytic-data .data-analysis .volume {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.graphic-section .left-bar .analytic-data .data-analysis .volume .volume-hour .volume-title {
  margin-right: 10px;
  font-size: 16px;
  color: #6a6a6a;
}

.graphic-section .left-bar .analytic-data .data-analysis .volume .volume-hour .hour {
  font-size: 14px;
  border-radius: 2px;
  background-color: #f2f2f2;
  padding: 1px 5px;
  color: #bfbfbf;
}

.graphic-section .left-bar .analytic-data .data-analysis .volume .volume-data {
  font-size: 20px;
  color: #000000;
}

.graphic-section .left-bar .analytic-data .data-analysis .price-change {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.graphic-section .left-bar .analytic-data .data-analysis .price-change .volume-hour .volume-title {
  margin-right: 10px;
  font-size: 16px;
  color: #6a6a6a;
}

.graphic-section .left-bar .analytic-data .data-analysis .price-change .volume-hour .hour {
  font-size: 14px;
  border-radius: 2px;
  background-color: #f2f2f2;
  padding: 1px 5px;
  color: #bfbfbf;
}

.graphic-section .left-bar .analytic-data .data-analysis .lowest .volume-hour .volume-title {
  margin-right: 10px;
  font-size: 16px;
  color: #6a6a6a;
}

.graphic-section .left-bar .analytic-data .data-analysis .lowest .volume-hour .hour {
  font-size: 14px;
  border-radius: 2px;
  background-color: #f2f2f2;
  padding: 1px 5px;
  color: #bfbfbf;
}

.graphic-section .left-bar .analytic-data .data-analysis .lowest .volume-data {
  font-size: 20px;
  color: #000000;
}

.graphic-section .left-bar .analytic-data .data-analysis .highest .volume-hour .volume-title {
  margin-right: 10px;
  font-size: 16px;
  color: #6a6a6a;
}

.graphic-section .left-bar .analytic-data .data-analysis .highest .volume-hour .hour {
  font-size: 14px;
  border-radius: 2px;
  background-color: #f2f2f2;
  padding: 1px 5px;
  color: #bfbfbf;
}

.graphic-section .left-bar .analytic-data .data-analysis .highest .volume-data {
  font-size: 20px;
  color: #000000;
}

@media screen and (max-width: 992px) {
  .graphic-section .data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

@media screen and (max-width: 460px) {
  .graphic-section .left-bar .graphic-table .data {
    display: block;
  }
  .graphic-section .left-bar .graphic-table .data .times {
    margin: 10px 0;
  }
}

/* ======= BUY SELL ========*/
.buy-sell-section .left-buy-sell {
  border-radius: 5px;
  padding: 0;
}

.buy-sell-section .left-buy-sell .buy-sell-hood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white-color);
  padding: 9px 10px;
  margin: 0;
}

.buy-sell-section .left-buy-sell .buy-sell-hood .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.buy-sell-section .left-buy-sell .buy-sell-hood .quantity .title {
  color: var(--soft-black-color);
  font-size: 14px;
}

.buy-sell-section .left-buy-sell .buy-sell-hood .quantity .text {
  font-size: 12px;
  color: var(--soft-gray-color);
}

.buy-sell-section .left-buy-sell .buy-sell-hood .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.buy-sell-section .left-buy-sell .buy-sell-hood .price .title {
  color: var(--soft-black-color);
  font-size: 14px;
}

.buy-sell-section .left-buy-sell .buy-sell-hood .price .text {
  font-size: 12px;
  color: var(--soft-gray-color);
}

.buy-sell-section .left-buy-sell .graphic-view {
  width: 50%;
  background: var(--smoke-color);
}

.buy-sell-section .left-buy-sell .graphic-view .buy-ul {
  margin-left: 0;
  padding-left: 0;
}

.buy-sell-section .left-buy-sell .graphic-view .buy-ul .buy-sell-list {
  position: relative;
}

.buy-sell-section .left-buy-sell .graphic-view .buy-ul .buy-sell-list::before {
  content: "";
  width: 40%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(3, 166, 109, 0.12);
}

.buy-sell-section .left-buy-sell .graphic-view .sell-ul .buy-sell-list {
  position: relative;
}

.buy-sell-section .left-buy-sell .graphic-view .sell-ul .buy-sell-list::before {
  content: "";
  width: 40%;
  height: auto;
  position: absolute;
  top: 0;
  left: -5px;
  bottom: 0;
  background: rgba(183, 41, 30, 0.12);
}

.buy-sell-section .left-buy-sell .graphic-view .buy-sell-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background: var(--white-color);
  padding: 12px 15px;
}

.buy-sell-section .left-buy-sell .graphic-view .buy-sell-ul .buy-sell-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy-sell-section .left-buy-sell .graphic-view .buy-sell-ul .buy-sell-list .value {
  color: #696969;
  font-size: 12px;
}

.buy-sell-section .left-buy-sell .graphic-view .buy-sell-ul .buy-sell-list .price {
  color: var(--green-color);
  font-size: 12px;
  padding: 3px 10px;
}

.buy-sell-section .left-buy-sell .graphic-view .buy-sell-ul .buy-sell-list .drop {
  color: var(--red-color);
  font-size: 12px;
  padding: 3px 0;
}

.buy-sell-section .left-buy-sell .graphic-view .drop-graphic {
  background: var(--white-color);
  border-radius: 5px 0 0 5px;
  padding: 38px 0 0 0;
  margin: 10px 0;
}

.buy-sell-section .left-buy-sell .graphic-view .drop-graphic img {
  width: 100%;
}

.buy-sell-section .left-buy-sell .graphic-view .rise-graphic {
  background: var(--white-color);
  border-radius: 0 5px 5px 0;
  padding: 38px 0 0 0;
  margin: 10px 0;
}

.buy-sell-section .left-buy-sell .graphic-view .rise-graphic img {
  width: 100%;
}

.buy-sell-section .right-buy-sell .best-hoods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 2px;
  background: var(--white-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 5px 5px 0 0;
}

.buy-sell-section .right-buy-sell .best-hoods .best-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy-sell-section .right-buy-sell .best-hoods .best-icons img {
  margin-right: 3px;
  width: 20px;
}

.buy-sell-section .right-buy-sell .best-hoods .text {
  color: var(--soft-gray-color);
  font-size: 12px;
}

.buy-sell-section .right-buy-sell .best-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: var(--white-color);
  padding: 9px 6px;
  border-bottom: 1px solid var(--border-color);
}

.buy-sell-section .right-buy-sell .best-value .firstline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy-sell-section .right-buy-sell .best-value .firstline .firstname {
  font-size: 14px;
  color: var(--black-color);
}

.buy-sell-section .right-buy-sell .best-value .firstline .number {
  font-size: 12px;
  color: #929292;
}

.buy-sell-section .right-buy-sell .best-value .value {
  font-size: 16px;
  color: var(--black-color);
}

.buy-sell-section .right-buy-sell .best-value .price {
  font-size: 14px;
  color: #929292;
}

.coin-exchange {
  margin-top: 5px;
  padding: 15px 17px;
  background: var(--white-color);
}

.coin-exchange .coin-hood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coin-exchange .coin-hood .bitci-exchange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coin-exchange .coin-hood .bitci-exchange .title {
  font-size: 24px;
  font-weight: 700;
  color: var(--black-color);
  margin: 0 7px;
}

.coin-exchange .coin-hood .bitci-exchange .exchange-icon {
  cursor: pointer;
}

.coin-exchange .coin-hood .price {
  font-size: 30px;
  font-weight: 600;
  color: var(--black-color);
}

.coin-exchange .price-dollar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--soft-gray-color);
  font-size: 16px;
}

.coin-exchange .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coin-exchange .data .volume {
  font-size: 12px;
  color: var(--soft-gray-color);
}

.coin-exchange .data .btc {
  font-size: 16px;
  color: var(--soft-gray-color);
}

.coin-exchange .data-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coin-exchange .data-price .volume-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.coin-exchange .data-price .volume-price .value {
  font-size: 16px;
  color: var(--black-color);
  font-weight: 600;
}

.coin-exchange .data-price .volume-price .liras {
  font-size: 14px;
  color: var(--soft-gray-color);
}

.coin-exchange .data-price .percentile {
  padding: 4px 10px;
  background: var(--green-color);
  color: var(--white-color);
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
}

.wallets {
  margin: 5px 0;
  background: var(--white-color);
}

.wallets .best-hoods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.wallets .best-hoods .left-hood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wallets .best-hoods .left-hood .text {
  font-size: 12px;
  color: var(--soft-gray-color);
  margin-left: 4px;
}

.wallets .best-hoods .right-hood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wallets .best-hoods .right-hood .text {
  font-size: 12px;
  color: var(--soft-gray-color);
}

.wallets .best-hoods .right-hood .text .active {
  font-size: 12px;
  color: var(--green-color);
  margin-right: 9px;
}

.wallets .best-hoods .right-hood .text .passive {
  font-size: 12px;
  color: var(--drop-color);
}

.wallets .cold-wallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.wallets .cold-wallet .left-hood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wallets .cold-wallet .left-hood .text {
  color: var(--soft-gray-color);
  font-size: 12px;
}

.wallets .cold-wallet .left-hood .number {
  font-size: 16px;
  color: var(--black-color);
}

.wallets .cold-wallet .left-hood .drop {
  color: var(--drop-color);
}

.wallets .cold-wallet .left-hood .rise {
  color: var(--green-color);
}

.wallets .cold-wallet .right-hood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wallets .cold-wallet .right-hood .text {
  color: var(--soft-gray-color);
  font-size: 12px;
}

.wallets .cold-wallet .right-hood .number {
  font-size: 14px;
  color: var(--black-color);
}

.wallets .cold-wallet .right-hood .drop {
  color: var(--drop-color);
}

.wallets .cold-wallet .right-hood .rise {
  color: var(--green-color);
}

.deposit-take {
  margin: 5px 0;
  background: var(--white-color);
}

.deposit-take .best-hoods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.deposit-take .best-hoods .left-hood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deposit-take .best-hoods .left-hood .text {
  font-size: 12px;
  color: var(--soft-gray-color);
  margin-left: 4px;
}

.deposit-take .best-hoods .right-hood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deposit-take .best-hoods .right-hood .text {
  font-size: 12px;
  color: var(--soft-gray-color);
}

.deposit-take .cold-wallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.deposit-take .cold-wallet .left-hood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deposit-take .cold-wallet .left-hood .deposit {
  color: var(--green-color);
  font-size: 14px;
}

.deposit-take .cold-wallet .left-hood .number {
  font-size: 16px;
  color: var(--black-color);
}

.deposit-take .cold-wallet .right-hood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 0;
  border-bottom: 1px solid var(--border-color);
}

.deposit-take .cold-wallet .right-hood .take {
  color: var(--drop-color);
  font-size: 14px;
}

.deposit-take .cold-wallet .right-hood .number {
  font-size: 16px;
  color: var(--black-color);
}

.deposit-take .cold-wallet .difference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deposit-take .cold-wallet .difference .text {
  color: var(--black-color);
  font-size: 14px;
}

.deposit-take .cold-wallet .difference .number {
  font-size: 16px;
  color: var(--black-color);
}

.deposit-take .cold-wallet .difference .drop {
  color: var(--drop-color);
}

.deposit-take .cold-wallet .difference .rise {
  color: var(--green-color);
}

.table-deposit-take .take {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.table-deposit-take .best-hoods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 2px;
  background: var(--white-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 5px 5px 0 0;
}

.table-deposit-take .best-hoods .best-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-deposit-take .best-hoods .best-icons img {
  margin-right: 3px;
  width: 20px;
}

.table-deposit-take .best-hoods .text {
  color: var(--soft-gray-color);
  font-size: 12px;
}

.table-deposit-take .best-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: var(--white-color);
  padding: 9px 6px;
  border-bottom: 1px solid var(--border-color);
}

.table-deposit-take .best-value .firstline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-deposit-take .best-value .firstline .firstname {
  font-size: 14px;
  color: var(--black-color);
}

.table-deposit-take .best-value .firstline .number {
  font-size: 12px;
  color: #929292;
}

.table-deposit-take .best-value .value {
  font-size: 16px;
  color: var(--black-color);
}

.table-deposit-take .best-value .price {
  font-size: 14px;
  color: #929292;
}

.market-cap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white-color);
  padding: 14px 1px;
  margin-top: 5px;
}

.market-cap .widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 25px;
  border-right: 1px solid var(--border-color);
}

.market-cap .widget:last-child {
  border: none;
}

.market-cap .widget .title {
  font-size: 12px;
  color: var(--soft-gray-color);
}

.market-cap .widget .value {
  font-size: 16px;
  color: var(--black-color);
}

.market-cap .widget .percentile {
  font-size: 12px;
}

.market-cap .widget .rise {
  color: var(--green-color);
}

.market-cap .widget .drop {
  color: var(--drop-color);
}

.market-cap .widget .progress-bar {
  margin-top: 10px;
  width: 100%;
  height: 5px;
  background: #f6f6f6;
  border-radius: 10px;
  position: relative;
}

.market-cap .widget .progress-bar::before {
  content: "";
  width: 40%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--progress-color);
  border-radius: 10px;
}

.price-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white-color);
  padding: 8px 26px;
  margin: 5px 0;
}

.price-info .price {
  font-size: 12px;
  color: var(--black-color);
  font-weight: 700;
}

.price-info .time {
  font-size: 12px;
  color: var(--soft-gray-color);
  border-left: 1px solid var(--border-color);
  padding-left: 15px;
}

.price-info .progress-bar {
  width: 60%;
  height: 5px;
  background: #f6f6f6;
  border-radius: 10px;
  position: relative;
}

.price-info .progress-bar::before {
  content: "";
  width: 30%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--progress-color);
  border-radius: 10px;
}

.bitci-table-value .hood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white-color);
  padding: 8px 26px;
  margin-top: 5px;
  border-bottom: 1px solid var(--border-color);
}

.bitci-table-value .hood .title {
  font-size: 12px;
  color: var(--soft-gray-color);
}

.bitci-table-value ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.bitci-table-value ul .table-list {
  border-bottom: 1px solid var(--border-color);
  background: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 13px;
}

.bitci-table-value ul .table-list .text {
  font-size: 14px;
  color: var(--black-color);
}

.bitci-table-value ul .table-list .text:first-child {
  font-weight: 700;
}

.bitci-table-value ul .table-list .text img {
  width: 30%;
}

.transactions-number {
  margin-top: 5px;
}

.transactions-number .best-hoods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 2px;
  background: var(--white-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 5px 5px 0 0;
}

.transactions-number .best-hoods .best-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transactions-number .best-hoods .best-icons img {
  margin-right: 3px;
  width: 20px;
}

.transactions-number .best-hoods .text {
  color: var(--soft-gray-color);
  font-size: 12px;
}

.transactions-number .best-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: var(--white-color);
  padding: 9px 6px;
  border-bottom: 1px solid var(--border-color);
}

.transactions-number .best-value .firstline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transactions-number .best-value .firstline .firstname {
  font-size: 14px;
  color: var(--black-color);
}

.transactions-number .best-value .firstline .number {
  font-size: 12px;
  color: #929292;
}

.transactions-number .best-value .value {
  font-size: 16px;
  color: var(--black-color);
}

.transactions-number .best-value .price {
  font-size: 14px;
  color: #929292;
}

.open-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--white-color);
}

.open-order .hood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 17px;
}

.open-order .hood .text {
  font-size: 12px;
  color: var(--soft-gray-color);
}

.open-order .orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 17px;
}

.open-order .orders .title {
  font-size: 14px;
  color: var(--green-color);
}

.open-order .orders .number {
  font-size: 18px;
  color: var(--black-color);
}

.open-order .orders .price {
  font-size: 14px;
  color: var(--soft-gray-color);
}

.open-order .sales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 17px;
}

.open-order .sales .title {
  font-size: 14px;
  color: var(--drop-color);
}

.open-order .sales .number {
  font-size: 18px;
  color: var(--black-color);
}

.open-order .sales .price {
  font-size: 14px;
  color: var(--soft-gray-color);
}

.open-order .difference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.open-order .difference .title {
  font-size: 14px;
  color: var(--black-color);
  padding: 10px 17px 0 17px;
}

.open-order .difference .number {
  font-size: 18px;
  color: var(--black-color);
  padding: 0 17px;
}

.open-order .difference .price {
  padding: 0 17px 30px 17px;
  font-size: 14px;
  color: var(--soft-gray-color);
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid var(--border-color);
  padding: 5px 17px;
  background: var(--white-color);
  margin: 5px 0;
}

.calendar .text {
  font-size: 16px;
  color: var(--black-color);
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.calendar .text:last-child {
  border: none;
}

.calendar .text .right-line {
  position: absolute;
  right: 0;
}
/*# sourceMappingURL=sass.css.map */